menu hshift 13
menu width 49
menu margin 8
menu tabmsg
menu passwordmargin 3
menu rows 12
menu helpmsgrow 17
menu helpmsgmargin 10
menu vshift 12

# Background
menu background splash.png
menu title Austral OS - Live Boot Menu

# Color Definitions (RRGGBBAA)
menu color title 1;37 #ffffffff #00000000 std
menu color border 30;44 #40ffffff #00000000 std
menu color sel 7;37;40 #ffffffff #40ffffff all
menu color hotsel 1;7;37;40 #ffffffff #40ffffff all
menu color tabmsg 31;40 #90ffffff #00000000 std
menu color timeout 1;37 #ffffffff #00000000 std
menu color timeout_msg 37 #ffffffff #00000000 std
menu color scrollbar 30;44 #40ffffff #00000000 std

label live-amd64
    menu label ^Live system (amd64)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components quiet splash loglevel=0 systemd.show_status=false rd.udev.log_level=0 vt.global_cursor_default=0

label live-amd64-failsafe
    menu label ^Live system (amd64 fail-safe mode)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788

menu begin utilities
    menu title Utilities
    label mainmenu
        menu label ^Back..
        menu exit
    label memtest
        menu label ^Memory Diagnostic Tool (memtest86+)
        linux /live/memtest
menu end
